ul.SideBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #000;
    color: white;
}

li a:hover:not(.active) {
    background-color: #500;
    color: white;
}
body.BodyBackground {
    background-image: url("Wallpaper2.jpg");
    background-repeat: repeat-x;
    margin: 0;
}
div.lEttertype {
    font-family: Verdana;
    font-size: 20px;
}
.TextPlacement {
    font-family: Verdana;
    font-size: 20px;
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px
}
p.ParaGraph {
    font-family: verdana;
    font-size: 20px;
    padding-bottom: 20px;
}
}
h1.HeaderContent {
    color: red;
    text-align: left;
}

